spring:
  application:
    name: jpa

  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/C:\khWorkspace\07_RestServer\db\tdb
      driver-class-name: org.h2.Driver
      username: sa
      password: 1234
  h2:
    console:
      enabled: true
      path: /h2-console
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    # 초기 데이터 삽입 설정 (data.sql 사용 시)
    # defer-datasource-initialization: true

# 초기 데이터 설정
cocktail:
  initial-data:
    enabled: true  # 초기 데이터 삽입 활성화/비활성화

server:
  port: 8888

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

# JWT 설정
jwt:
  secret: dGhpc2lzYXZlcnlsb25nc2VjcmV0a2V5Zm9yan3R0b2tlbmdlbmVyYXRpb24=
  expiration: 86400000  # 24시간 (밀리초)